fastapi # For building the API
uvicorn # For running the FastAPI server
python-dotenv # For loading environment variables from .env file
google-auth # For Google API authentication
google-api-python-client # For interacting with Google APIs
sqlmodel # For database models and interactions
alembic # For database migrations
pydantic # For data validation and settings management
pydantic-settings # For managing application settings with Pydantic
psycopg[binary] # For PostgreSQL database adapter